<!-- Begin Location Section -->
<section id="ossmap" class="ossmap"> 
 
 <div class="content-wrapper">
   <div class="row"> 
     <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
           
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitle }}</h3>
                    <ul>
                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}
                        <li>{{ site.eventStreetAddress }}, {{ site.eventAddressLocality }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li>
                            {% assign startTime = site.eventStartTime | split: "T" %}
                            <time>{{ startTime[1] }}</time> -
                            {% assign endTime = site.eventEndTime | split: "T" %}
                            <time>{{ endTime[1] }}</time>
                        </li>
                    </ul>
                </div>
                <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
         </div>
  <section class="image-section standart-height">
                   
<!--    <div class="row">-->
             <div id="map" class="map">
 
               <script> 
                        var map = L.map('map').setView([47.414555, 8.554033], 12);
                        mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';

                        L.tileLayer(
                        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: 'Map data &copy; ' + mapLink,
                        maxZoom: 18,
                        }).addTo(map);
                
      
                        var LeafIcon = L.Icon.extend({
                            options: {
                                iconSize:     [14, 25],
                                iconAnchor:   [7.5, 25],
                                popupAnchor:  [0, -25]
                            }
                        });
            
               var blueIcon = new LeafIcon({iconUrl: '{{ site.baseurl }}/img/other/blue.png'}),
                            redIcon = new LeafIcon({iconUrl: '{{ site.baseurl }}/img/other/red.png'});
                        
            
             L.icon = function (options) {
                                return new L.Icon(options);
                            };
      
                                    
                                    

    var marker1 = L.marker([47.358114, 8.561900], {icon: redIcon},{title:"Botanical Garden"}).addTo(map).bindPopup("Botanical Garden", {closeOnClick: false, autoClose: false}).openPopup();
  
    var marker2 = L.marker([47.397558, 8.548838], {icon: blueIcon},{title:"University of Zürich"}).addTo(map).bindPopup("University of Zürich");
    
var marker3 = L.marker([47.450131, 8.564193], {icon: blueIcon},{title:"Airport"}).addTo(map).bindPopup("Airport", {closeOnClick: false, autoClose: false}).openPopup();

var marker4 = L.marker([ 47.378580, 8.538374 ], {icon: blueIcon},{title:"Central train station"}).addTo(map).bindPopup("Central train station", {closeOnClick: false, autoClose: false}).openPopup();

var marker5 = L.marker([47.376526, 8.548567], {icon: blueIcon},{title:"ETH"}).addTo(map).bindPopup("ETH");

var group = new L.featureGroup([marker1, marker2, marker3, marker4, marker5]);

map.fitBounds(group.getBounds().pad(0.34));             
                                                            
            </script>
    
            </div> 
            
        </section>
  <!--  </div>-->
<!--     <div class="row"> -->
   
          </div> 
        </section>       
           
<!-- End Location Section -->
